<h1>Log In Page</h1>

<%= form_tag @user, url: sessions_path, method: :post do |f| %>
  Name: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  <%= f.submit "Log In" %>
 <% end %>

<%# <%= form_tag sessions_path do %>
  <%# <label>Name:</label><br> %>
  <%# <%= text_field_tag :name %><br> %>
 
  <%# <label>Password</label><br> %>
  <%# <%= text_area_tag :password %><br> %>
 
  <%# <%= submit_tag "Log In" %> %>
<%# <% end %> %> %>